<div id="login">
	<form method="post" action="/login">
	Email: <input type="text" name='email'>
	Password: <input type="password" name='password'>
	<input type="submit" value="Sign in">
	<a href="/forgotten_password">Forgot your password?</a>
</form>
<div id="signup">
	<a href="/signup/new">Click here to sign up!</a>
</div>
<ul>
	<% @posts.each do |post| %>
	<li><%= post.message %><br>at:<%= post.time %> by:</li>
	<% end %>
</ul>
