Your´re logged in
<ul>	
	<% begin %>
	<% @posts.each do |post| %>
	<li><%= post.message %><br>at:<%= post.time %> by:</li>
	<% end %>
	<% rescue %>
	something went wrong
	<% end %>
</ul>
<div id="new-post">
	<form action="/" method="post">
		<textarea cols="50" rows="4" name="message"></textarea>
		<input type="submit" value="Post">
	</form>
</div>
<form action="/logout" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Sign out">
</form>