<div class="index-header">
	<div class="login">
		<form method="post" action="/login">
			<table class="password-signup">
				<tr>
					<td><div class="login-email">
						<input type="text" name='email' placeholder="Email">
						</div>
					</td>
				</tr>

				<tr>
					<td>
					<div class="login-password">
						<input type="password" name='password' placeholder="Password"></div>
					</td>
					<td><div class="login-button">
						<input type="submit" value="Sign in" name="Sign in"></div>
					</td>
				</tr>

				<tr>
					<td>
					<span class="login-forgotpassword">
						<a href="/forgotten_password">Forgot your password?</a></span>
		 			</td>
		 			<td>
		 			<span id="signup">
		 				<a href="/signup/new">Click here to sign up!</a></span>
					</td>
				<tr>
			</table>
		</form>
	</div>
</div>

<ul>
<div class="cheets-heading">Cheets</div>

	<% @posts.each do |post| %>
	<div class="feed">			
		
		<div class="feed-header">
			<div class="nickname"><%= post.nickname %></div>
			<div class="name">@<%= post.name %></div> <span class="dot">·</span>
			<div class="time"><%= post.time.strftime("%A %H:%M") %></div>
		</div>
		<div class="feed-message"><%= post.message %>
	</div>	
</div>
	<% end %>
</ul>
