<div class="index-header">
<div id="login">
	<form method="post" action="/login">
	Email: <input type="text" name='email'>
	Password: <input type="password" name='password'>
	<input type="submit" value="Sign in" name="Sign in">
	<a href="/forgotten_password">Forgot your password?</a>
</form>
<div id="signup">
	<a href="/signup/new">Click here to sign up!</a>
</div>
</div>
<ul>
	<% @posts.each do |post| %>
	<div class="feed">
		<div class="feed-header">
			<div class="nickname"><%= post.nickname %></div>
			<div class="name">@<%= post.name %></div> <span class="dot">·</span>
			<div class="time"><%= post.time.strftime("%A %H:%M") %></div>
		</div>
		<div class="feed-message"><%= post.message %></div>	
	</div>
	<% end %>
</ul>
