<form action="/signup" method="post">
	Email: <input name="email" type="text" required pattern="^([a-zA-Z0-9_\-\.]+)@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$"><br>
	Name: <input name="name" type="text" required minlength="1"><br>
	Nickname: <input name="nickname" type="text" required minlength="1"><br>
	Password: <input name="password" type="password" required minlength="1"><br>
	Password Confirmation: <input name="password_confirmation" type="password" required minlength="1"><br>
	<button class="signin-btn" type="submit">Sign up</button>
</form>