

<div class="user-interface"><!-- Welcome <%= session[:name] %>  -->
<br>
<div id="new-post">
	<form action="/" method="post">
		<textarea class="textarea" cols="30" rows="1" name="message" maxlength="140" minlength="25" placeholder="Post a new cheet..." required></textarea>
		<br><button class="userinterface-buttons" type="submit">Cheet</button>
	</form>
</div>
<form action="/logout" method="post">
		<input type="hidden" name="_method" value="delete">
		<button class="userinterface-buttons" type="submit">Sign out</button>
</form>
<%= erb :"partials/post_display" %>
</div>
<script> 
    $(document).ready(function(){
  $('textarea').on('click', function() { 
    $(this).attr({rows: 90})});
    });
    </script>