Welcome <%= session[:name] %> 

<div id="new-post">
	<form action="/" method="post">
		<textarea cols="50" rows="4" name="message" maxlength="140" minlength="25"></textarea>
		<input type="submit" value="Post">
	</form>
</div>
<form action="/logout" method="post">
		<input type="hidden" name="_method" value="delete">
		<input type="submit" value="Sign out">
</form>
<%= erb :"partials/post_display" %>
