<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
 		<title>Chitter</title>
 		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="HandheldFriendly" content="true">
    	<link href="/stylesheet.css" rel="stylesheet" type="text/css">
        <script src='https://code.jquery.com/jquery-2.1.0.min.js'></script>
    </head>
    <body>
    <div id="header">
    <a href="/user_interface"><img src="/img/chitterlogo.png"></a>
    </div>
    <br>
    <script src='https://code.jquery.com/jquery-2.1.0.min.js'></script>
    <%= yield %>
    </body>
</html>