<form class="signup" action="/signup" method="post">
	<input class="signupinput" name="email" type="text" required pattern="^([a-zA-Z0-9_\-\.]+)@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$" placeholder="Email"><br>
	<input class="signupinput" name="name" type="text" required minlength="1" placeholder="Name"><br>
	<input class="signupinput" name="nickname" type="text" required minlength="1" placeholder="Nickname"><br>
	<input class="signupinput" name="password" type="password" required minlength="1" placeholder="Password"><br>
	<input class="signupinput" name="password_confirmation" type="password" required minlength="1" placeholder="Password Confirmation"><br>
	<button class="signup-btn button" type="submit">Sign up</button>
</form>
