

<div class="user-interface"><!-- Welcome <%= session[:name] %>  -->

<div class="new-post">
	<form class="post-form" action="/" method="post">
		<textarea class="textarea" cols="30" rows="1" name="message" maxlength="140" minlength="25" placeholder="Post a new cheet..." required></textarea>
		<br><span class="characters-left">140 </span><button class="userinterface-buttons" type="submit">Cheet</button>
		
	</form>
</div>
<form action="/logout" method="post">
		<input type="hidden" name="_method" value="delete">
		<button class="userinterface-buttons-submit" type="submit">Sign out</button>
</form>
<%= erb :"partials/post_display" %>
</div>
<script> 
	$('.characters-left').hide()
	$('.userinterface-buttons').hide()
	$('.textarea').click( function() {
		$('.userinterface-buttons').show();
		$('.characters-left').show();
	});

	

	$('.textarea').focus(function () {
		$(this).addClass("expanded")
	});
	$('.textarea').blur(function () {
		if($(".textarea").val().length < 1) {
			$(this).removeClass("expanded")
			$('.userinterface-buttons').hide()
			$('.characters-left').hide()		
		}
	});
    $('.textarea').bind('input propertychange',function() {
    	var cheetText = $(this).val()
    	var charactersLeft = 140 - cheetText.length
    	console.log(cheetText.length)
    	$('.characters-left').html(charactersLeft)
    });

</script>