

<div class="user-interface"><!-- Welcome <%= session[:name] %>  -->

<div id="new-post">
	<form action="/" method="post">
		<textarea class="textarea" cols="30" rows="1" name="message" maxlength="140" minlength="25" placeholder="Post a new cheet..." required></textarea>
		<br><button class="userinterface-buttons" type="submit">Cheet</button>
		<span class="characters-left"></span>
	</form>
</div>
<form action="/logout" method="post">
		<input type="hidden" name="_method" value="delete">
		<button class="userinterface-buttons" type="submit">Sign out</button>
</form>
<%= erb :"partials/post_display" %>
</div>
<script> 
	$('.userinterface-buttons').hide()
	$('.textarea').click( function() {
		$('.userinterface-buttons').show()
	});
    $('.textarea').bind('input propertychange',function() {
    	var cheetText = $(this).val()
    	var charactersLeft = 140 - cheetText.length
    	console.log(cheetText.length)
    	$('.characters-left').html(charactersLeft)
    });
</script>