* {
	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


body
{
	background-color: #ffffff;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
}

body #header {
	text-align: center;
}

body .index-header {
	text-align: center;
}

body .cheets-heading {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 22px;
	color: #66757f;
	font-weight: 300;
	line-height: 22px;
	border: 1px solid #e6e6e6;
	background-color: white;
	height: 50px;
	width: 590px;
	min-height: 20px;
	padding: 12px;
	background-color: #fff;
	border-bottom: 1px solid #e1e8ed;
	border-radius: 5px 5px 0 0;
	text-align: left;
	margin: auto;

}

.user-interface {
	text-align: center;
}
.feed {
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	border: 1px solid #e6e6e6;
	background-color: white;
	padding: 10px;
	margin: auto;
	height: 100px;
	width: 590px;
}

ul .feed:hover {
	background-color: #f5f8fa;
}

.feed .feed-header {
	text-align: left;
}

.feed .feed-message {
	text-align: left;
	color: #292f33;
	font-size: 14px;
	margin-top: 1%;
}

.feed .name {
	display: inline;
	font-weight: normal;
	color: #8899a6;
	font-size: 13px;
}

.feed .nickname {
	display: inline;
	font-weight:bold;
	font-size: 14px;

}

.feed .time {
	display: inline;
	font-weight: normal;
	color: #8899a6;
	font-size: 13px;
}

.feed .feed-header .dot {
		color: #8899a6;
		font-size: 13px;
}

body .index-header .login {
	left: 536px;
	background: white;
	border: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-radius: 4px;
	margin: auto;
	width: 302px;
}

body .signup {
	background: white;
	border: 1px solid #e6e6e6;
	border-bottom: 1px solid #e6e6e6;
	border-left: 1px solid #e6e6e6;
	border-right: 1px solid #e6e6e6;
	border-radius: 4px;
	margin: auto;
	width: 302px;
	height: 210px;
	padding-top: 12px;
}

body .signup .signupinput {
	padding: 5px;
	margin: 3px;
	margin-left: 12px;
	margin-top: 4px;
}


.signin-btn {
	color: #fff;
	background-color: #55acee;
	border: 1px solid #3b88c3;
	font-size: 14px;
	font-weight: bold;
	border-spacing: 2px;
	border-color: gray;
	border-radius: 4px;
	margin-right: 6px;
	padding-bottom: 3px;
	padding-top: 2px;
	position: absolute;
	right: 1.8%;
	height: 30px;
	top: 47.2%;
	width: 80px;
	outline: none;
	/*-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;*/
}

.signup-btn {
	color: #fff;
	background-color: #55acee;
	border: 1px solid #3b88c3;
	font-size: 14px;
	font-weight: bold;
	border-spacing: 2px;
	border-color: gray;
	border-radius: 4px;
	padding-bottom: 3px;
	padding-top: 0px;
	position: relative;
	right: 1.8%;
	height: 30px;
	top: 9.2%;
	width: 80px;
	outline: none;
	left: 109px;
}

.signout-btn {
	color: #fff;
	background-color: #55acee;
	border: 1px solid #3b88c3;
	font-size: 14px;
	font-weight: bold;
	border-spacing: 2px;
	border-color: gray;
	border-radius: 4px;
	padding-bottom: 3px;
	padding-top: 0px;
	position: relative;
	right: 1.8%;
	height: 30px;
	top: 9.2%;
	width: 80px;
	outline: none;
	left: 109px;
}

.userinterface-buttons {
	color: #fff;
	background-color: #55acee;
	border: 1px solid #3b88c3;
	font-size: 14px;
	font-weight: bold;
	border-spacing: 2px;
	border-color: gray;
	border-radius: 4px;
	padding-bottom: 3px;
	padding-top: 0px;
	position: relative;
	right: 1.8%;
	height: 30px;
	top: 9.2%;
	width: 80px;
	outline: none;
	left: 3px;
	margin: 2px;
}

.resetpasswordform {
	text-align: center;
}
.resetpasswordbutton, body .errors a {
	color: #fff;
	background-color: #55acee;
	border: 1px solid #3b88c3;
	font-size: 14px;
	font-weight: bold;
	border-spacing: 2px;
	border-color: gray;
	border-radius: 4px;
	padding-bottom: 6px;
	padding-top: 2px;
	position: relative;
	right: 1.8%;
	height: 46px;
	top: -0.8%;
	width: 80px;
	outline: none;
	left: 2px;
	margin-top: 13px;
	text-decoration: none;
}
.password-signup {
	position: relative;
}

.login-password {
	height: 30px;
	width: 188px;
	border-radius: 4px;
	border: 1px solid #ccd6dd;
	padding: 5px;
	margin-left: -88px;
	padding-left: 9px;
	padding-bottom: -12px;
}

.login-email {
	height: 30px;
	width: 276px;
	border-radius: 4px;
	border: 1px solid #ccd6dd;
	padding: 9px;
}

/*.login-email[type=text]:focus, .login-password[type=password]:focus, .signupinput[type=text]:focus, .resetpassword[type=password]:focus{
}*/



input::-webkit-input-placeholder {
    color: #66757f;
}
input:focus::-webkit-input-placeholder {
    opacity: 0.5;
}

textarea::-webkit-input-placeholder {
    color: #66757f;
}
textarea:focus::-webkit-input-placeholder {
    opacity: 0.5;
}


.user-interface .textarea {
	border: 1px solid #ccd6dd;
	height: 30px;
	width: 276px;
	border-radius: 4px;
	font-size: 13px;
	line-height: 20px;
	padding: 4px;
	padding-left: 6px;
}

.resetpassword {
	height: 30px;
	width: 276px;
	border-radius: 4px;
	border: 1px solid #ccd6dd;
	padding: 9px;
	font-size: 13px;
	line-height: 20px;
}


.signupinput {
	height: 30px;
	width: 276px;
	border-radius: 4px;
	border: 1px solid #ccd6dd;
	padding: 9px;
	font-size: 13px;
	line-height: 20px;
}

.login_button input {
	height: 30px;
	width: 102px;
}

.login-forgotpassword,
.login-forgotpassword a {
	color: #0084b4;
	font-size: 12px;
	line-height: 13px;
	margin: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	background: transparent;
	text-decoration: none;
	margin-bottom: 7px;
	margin-top: -8px;
}

.login-forgotpassword a:hover {
	color: #0084b4;
	font-size: 12px;
	line-height: 13px;
	margin: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	background: transparent;
	text-decoration: none;
	margin-bottom: 16px;
	text-decoration: underline;
}

.signuplogin a {
	color: #0084b4;
	font-size: 12px;
	line-height: 13px;
	margin: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	background: transparent;
	text-decoration: none;
	border-spacing: 2px;

}

.signuplogin a:hover {
	color: #0084b4;
	font-size: 12px;
	line-height: 13px;
	margin: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	background: transparent;
	text-decoration: underline;
	border-spacing: 2px;
}

.dot-form {
	color: #0084b4;
	font-size: 12px;
	line-height: 13px;
	margin: 0;
	text-shadow: 0 1px 0 rgba(255,255,255,0.6);
	background: transparent;
	text-decoration: none;
}

.login-email, .login-password {
	font-size: 13px;
	line-height: 20px;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=textarea]:focus {
    /*box-shadow: 0 0 8px #55acee;
    border-color: #55acee;*/
    border: 1px solid #56b4ef;
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.05),0 0 8px rgba(82,168,236,0.6);
	outline: 0;
	color: #292f33;
	border-color: #56b4ef;
}


input[type=text],
input[type=password]:focus,
input[type=textarea]:focus {
	outline: none;
	/*-webkit-transition: all 0.30s ease-in-out;
  	-moz-transition: all 0.30s ease-in-out;
  	-ms-transition: all 0.30s ease-in-out;
  	-o-transition: all 0.30s ease-in-out;*/
}

.textarea:focus {
	outline:none;
	box-shadow: 0 0 8px #55acee;
    border-color: #55acee;
    height: 90px;
}

body .errors {
	text-align: center;
}


button:hover, body .errors a:hover {
	background-color: #55acee;
	background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.15));
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#00000000, endColorstr=#26000000)";
	border-color: #3b88c3;
	cursor: pointer; 
	cursor: hand;
}

button:active, body .errors a:active {
	background-color: #3b88c3;
    background-image: linear-gradient(rgba(0,0,0,0.15),rgba(0,0,0,0.15));
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#26000000, endColorstr=#26000000)";
    border-color: #3b88c3;
}

